<div class="profile-page" *ngIf="user$ | async as u">

  <!-- Header -->
  <div class="profile-header">
   <img
  class="avatar"
  [src]="avatarBlobUrl || 'assets/avatar.png'"
  alt="avatar"
/>


    <div class="user-info">
      <h1 class="name">{{ u.displayName || 'Movie Lover' }}</h1>
      <p class="email">{{ u.email }}</p>
      <span class="badge">{{ u.providerData?.[0]?.providerId || 'password' }}</span>
    </div>

    <div class="profile-actions">
      <button class="edit-btn" (click)="openEdit(u)">Edit Profile</button>
      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
  </div>

  <!-- Stats -->
  <div class="stats">
    <div class="stat-card">
      <div class="stat-icon">🎞</div>
      <div class="stat-meta">
        <p>My Lists</p>
        <span>{{ myListCount }}</span>
      </div>
    </div>

    <div class="stat-card">
      <div class="stat-icon">⭐</div>
      <div class="stat-meta">
        <p>Ratings</p>
          <span>{{ ratingCount }}</span>
      </div>
    </div>

    <div class="stat-card">
      <div class="stat-icon">🕒</div>
      <div class="stat-meta">
        <p>Watched</p>
          <span>{{ watchedCount }}</span>
      </div>
    </div>
  </div>

  <!-- My Lists -->
 <!-- My List Preview -->
<div class="section">
  <h2 class="section-title">📌 My List</h2>

  <div class="poster-row" *ngIf="myListPreview?.length; else empty">
   <img
  *ngFor="let m of myListPreview"
  [src]="getImage(m.posterPath)"
  class="poster"
  [title]="m.title"
  (click)="openMovie(m.movieId)"
/>

  </div>

  <ng-template #empty>
    <p style="opacity:.6">No movies in your list yet 🎬</p>
  </ng-template>
</div>


  <!-- Edit Profile Modal -->
  <div class="modal-backdrop" *ngIf="isEditOpen" (click)="closeEdit()">
    <div class="modal" (click)="$event.stopPropagation()">
      <h2>Edit Profile</h2>

      <label>Display Name</label>
      <input type="text" [(ngModel)]="editDisplayName" placeholder="Your name" />

      <label>Photo</label>
<input type="file" accept="image/*" (change)="onFileSelected($event)" />

<!-- Preview -->
<img
  *ngIf="previewUrl"
  [src]="previewUrl"
  style="width:84px;height:84px;border-radius:50%;object-fit:cover;margin-top:10px;border:2px solid rgba(255,0,122,0.8);"
/>

<p *ngIf="fileError" style="color:#ff7aa9;margin-top:8px;font-size:13px;">
  {{ fileError }}
</p>

<div class="modal-actions">
  <button class="btn-cancel" (click)="closeEdit()">Cancel</button>
  <button class="btn-save" (click)="saveProfile()" [disabled]="saving">
    {{ saving ? 'Saving...' : 'Save' }}
  </button>
</div>

    </div>
  </div>

</div>
