.detail-wrapper {
  display: flex;
  gap: 50px;
  padding: 50px 60px;
  color: white;
  align-items: flex-start;
}

.left-side .poster {
  width: 380px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.right-side {
  flex: 1;
  padding-top: 10px;
  .right-side {
  flex: 1;
  display: flex;
  flex-direction: column;     /* ❗ บังคับเรียงลง */
  align-items: flex-start;     /* ❗ จัดชิดซ้าย */
  padding-top: 0;             /* ป้องกันโดนดันลง */
  margin-top: 0;              /* ป้องกันเลื่อนเกิน */
}
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #ccc;
  font-size: 15px;
}


.overview {
   margin-top: 20px; 
  line-height: 1.7;
  max-width: 750px;
  font-size: 15px;
  margin-bottom: 25px;
}

.ratings {
  font-size: 18px;
  margin-bottom: 30px;
}

.actor-title {
  font-size: 22px;
  margin-bottom: 15px;
}

.actors {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.actor img {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.actor p {
  text-align: center;
  width: 130px;
  margin-top: 8px;
  font-size: 14px;
}
.social-buttons {
  display: flex;
  gap: 15px;
  margin: 15px 0;
}

.icon-btn {
  font-size: 22px;
  background: none;
  border: 2px solid #555;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-btn:hover {
  border-color: yellow;
}

.score-box {
  display: flex;
  gap: 20px;
  margin: 15px 0;
}

.score {
  background: #222;
  padding: 10px 18px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.score span {
  font-size: 14px;
  opacity: 0.8;
}

.score p {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: bold;
}

.imdb {
  background: #f3ce13;
  color: black;
}

.rt {
  background: #fa320a;
}

