
/* ทำให้ layout เต็มจอ และ main กินพื้นที่ที่เหลือ */
:host{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-main{
  flex: 1;
  width: 100%;
  padding-top: var(--nav-h);
  padding-bottom: var(--footer-h);
  box-sizing: border-box;
}
