<div class="list-wrapper" (scroll)="onScroll($event)">

  <h1 class="page-title">{{ genreName }}</h1>
  <p class="page-subtitle">Popular {{ genreName }} Movies</p>

  <!-- MOVIE GRID -->
  <div class="movie-grid">

    <!-- MOVIES -->
    <div
      class="movie-card"
      *ngFor="let movie of movies"
      (click)="openMovie(movie.id)"
    >
      <img [src]="getImage(movie.poster_path)" />
      <h3>{{ movie.title }}</h3>
      <p>⭐ {{ movie.vote_average | number:'1.1-1' }}</p>
    </div>

    <!-- SKELETON -->
    <ng-container *ngIf="loading">
      <div
        class="movie-card skeleton"
        *ngFor="let i of skeletons"
      >
        <div class="img"></div>
        <div class="line"></div>
        <div class="line short"></div>
      </div>
    </ng-container>

  </div>

  <div class="loading-text" *ngIf="loading">
    Loading more movies...
  </div>

</div>

