.overlay-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.85);
  display: grid;
  place-items: center;
  z-index: 2147483647;
}

.overlay-modal {
  width: min(960px, 100%);
  aspect-ratio: 16 / 9;
  background: #000;
  border-radius: 16px;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;

  width: 36px;
  height: 36px;
  border-radius: 10px;
  border: none;

  background: rgba(255,255,255,.2);
  color: white;
  font-size: 18px;
  cursor: pointer;
}

