<div class="page">
  <div class="container">

    <!-- HEADER -->
    <div class="header">
      <div class="title">
        <div class="badge">💳</div>
        <div>
          <h2>Subscription Cost Calculator</h2>
          <p>ใส่ราคาที่คุณจ่ายจริง แล้วดูภาพรวม</p>
        </div>
      </div>
    </div>

    <div class="layout">

      <!-- LEFT -->
      <section class="left">
        <h3>📦 Platforms</h3>

        <div class="platform-card" *ngFor="let p of platforms" [class.active]="p.selected" (click)="togglePlatform(p)">

          <div class="platform-row">

            <!-- LOGO -->
            <div class="logo-box">
              <img class="platform-icon" [src]="p.iconUrl" />
            </div>

            <!-- NAME -->
            <div class="platform-main">
              <div class="platform-title">{{ p.name }}</div>

              <!-- CONTROLS -->
              <div class="controls" *ngIf="p.selected">
                <input type="number" placeholder="THB / month" [(ngModel)]="p.price"
                  (click)="$event.stopPropagation()" />

                <select [(ngModel)]="p.planId" (click)="$event.stopPropagation()">
                  <option [ngValue]="undefined">เลือกแพ็กเกจ</option>
                  <option *ngFor="let plan of plans" [ngValue]="plan.id">
                    {{ plan.name }}
                  </option>
                </select>

                <button class="save-btn" (click)="savePlatform(p); $event.stopPropagation()"
                  [disabled]="!p.price || !p.planId">
                  💾 Save
                </button>
                <button class="delete-btn" (click)="deletePlatform(p); $event.stopPropagation()">
                  🗑 Delete
                </button>

              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- RIGHT -->
      <aside class="right">

        <!-- SUMMARY -->
        <div class="summary">
          <h3>🧾 Selected Platforms</h3>

          <div class="row" *ngFor="let p of selectedPlatforms">
            <span>{{ p.name }}</span>
            <strong>{{ p.price || 0 }}</strong>
          </div>

          <div *ngIf="!selectedPlatforms.length">
            ยังไม่ได้เลือกแพลตฟอร์ม
          </div>

          <hr />

          <div class="total">
            Total: <strong>{{ totalPrice }}</strong>
          </div>
        </div>

        <!-- CHART -->
        <div class="chart">
          <h3>📊 Cost Comparison</h3>
          <div class="chare-wrapper">
            <canvas id="costChart"></canvas>
          </div>
          <div *ngIf="!history.length" class="hint">
            ยังไม่มีข้อมูลสำหรับแสดงกราฟ
          </div>
        </div>



      </aside>
    </div>
  </div>
</div>