<header class="navbar">
  <div class="container">
    <div class="nav-left">
      <img src="MovieCollective-Photoroom 2.png" alt="Logo" class="logo-img">
      <button class="menu-btn">
        <img src="menu.png" alt="menu" class="menu-icon">
      </button>
      <div class="search-bar">
        <select class="search-filter">
        <option>All</option>
        <option value="2">Titles</option>
        <option value="3">TV episodes</option>
        <option value="4">Celebs</option>
        <option value="5">Companies</option>
        <option value="6">Keywords</option>
        <option value="7">Advanced search</option>
        </select>
        <input type="text" placeholder="Search IMDb" />
        <button class="search-btn">
          <img src="icons8-search-50.png" alt="search">
        </button>
      </div>
    </div>

    <div class="nav-right">
      <a href="#" class="link">IMDbPro</a>
      <a href="#" class="link">Watchlist</a>
      <a href="#" class="link">Sign in</a>
      <div class="lang-dropdown">
        <select>
          <option>EN</option>
          <option>TH</option>
        </select>
      </div>
    </div>
  </div>
</header>
